<mat-card class="recipe-card" *ngFor="let recipe of recipes">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{recipe.imagePath}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{recipe.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [matMenuTriggerFor]="menu" color="accent">Manage Recipe</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Delete Recipe</button>
      <button mat-menu-item>Edit Recipe</button>
      <button mat-menu-item>View Shopping List</button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
